body{
    background-color: rgb(174, 226, 209);
}

.body_font {
    font-family: Verdana, sans-serif;
}

.icon_size {
    height: 50px;
    width: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.description_text {
    font-family: Verdana;
}

.images {
    border-radius: 100px
}

.image_resize {
    height: 300px;
    width: auto;
    border-radius: 100px
}

